@model MVC_Management.Models.ClientloansP

@{
    ViewData["Title"] = "PerLinePayment";
}


@if (TempData["ErrorMessage"] != null)

{
    <div class="alert alert-danger">

        @TempData["ErrorMessage"]

        <button type="button" class="close" data-dissmiss="alert">

            <span>&times;</span>
        </button>


    </div>
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="PerLinePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">



                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="ClientID" class="control-label"></label>
                        <input asp-for="ClientID" class="form-control" readonly />
                        <span asp-validation-for="ClientID" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" readonly />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="loanType" class="control-label"></label>
                        <input asp-for="loanType" class="form-control" readonly />
                        <span asp-validation-for="loanType" class="text-danger"></span>
                    </div>
                </div>




                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="loanAmount" class="control-label"></label>
                        <input asp-for="loanAmount" type="number" class="form-control" readonly />
                        <span asp-validation-for="loanAmount" class="text-danger"></span>
                    </div>


                </div>


                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="LoanDate" class="control-label"></label>
                        <input asp-for="LoanDate" class="form-control" readonly />
                        <span asp-validation-for="LoanDate" class="text-danger"></span>
                    </div>

                </div>
              



                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Interest" class="control-label"></label>
                        <input asp-for="Interest" type="number" class="form-control" readonly />
                        <span asp-validation-for="Interest" class="text-danger"></span>
                    </div>
                </div>




                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="AmountDue" class="control-label"></label>
                        <input asp-for="AmountDue" type="number" class="form-control" readonly />
                        <span asp-validation-for="AmountDue" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="DueDate" class="control-label"></label>
                        <input asp-for="DueDate" class="form-control" readonly />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="Collateral" class="control-label"></label>
                        <input asp-for="Collateral" value="@ViewBag.No" class="form-control" readonly />
                        <span asp-validation-for="Collateral" class="text-danger"></span>
                    </div>
                </div>


            </div>
              
            <div class="row">
              
                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="Balance" class="control-label"></label>
                        <input asp-for="Balance" value="@ViewBag.AmountDue" class="form-control" />
                        <span asp-validation-for="Balance" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="Comments" class="control-label"></label>
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>

            </div>
           



            <div class="row">
                <div class="col-md-11">
                    <div class="form-group">
                        <input type="submit" value="Payment" class="btn btn-primary" />
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>







<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
